/* your css code here.If required */
table {
  background-color: yellow;
  border: 1px solid black;
  border-collapse: collapse;
  width: 50%;
  text-align: center;
}

th, td {
  border: 1px solid black;
  padding: 8px;
}

caption {
  font-weight: bold; /* Makes caption text bold */
  font-size: 18px;
  margin-bottom: 8px;
}
